<h3>All Todos</h3>
<button (click)="addTodoHandler()">New Todo</button>
<br />
<app-todo-form *ngIf="currentTodo" [todo]="currentTodo" (onAddOrUpdate)="onUpdateTodoHandler($event)"></app-todo-form>
<br />
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>description</th>
      <th>Type</th>
      <th>Tags</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todoService.todos" (click)="selectTodoHandler(todo)">
      <td>{{ todo.name }}</td>
      <td>{{ todo.description }}</td>
      <td>{{ todo.type }}</td>
      <td>{{ todo.tags.join(', ') }}</td>
      <td>{{ todo.date }}</td>
    </tr>
  </tbody>
</table>